<%- include('partials/head.ejs') %>

<body lass="bodyCompany">
    <%- include('partials/headerCompany.ejs', {user}) %>
    <main class="mainInput">
        <section class="companyText">
            <h1 class="h1">Sag uns etwas über <br> dein <%= user.typeOfIndustry %></h1>
            <h3 class="h3">Wie viele Tische hast du? Danach ergibt sich die Anzahl der QR-Codes die wir dir erstellen!
            </h3>
        </section>
        <section class="companyInput">
            <div class="inputTitels">
                <p>Tischzahl</p>
                <p>How many tables?</p>
            </div>
            <% if (user.signUp) { %>
            <form action="/company/input03/first" method="post">
                <% } else { %>
                <form action="/company/input03/update" method="post">
                    <% } %>
                    <div class="inputField">
                        <input class="inputTextField" type="number" name="tables" placeholder="1-100 Tische" id=""
                            required>
                    </div>
                    <div>
                        <% if (!user.signUp) { %>
                        <input type="radio" name="BothOrNot" id="onlyTable" value="onlyTable" checked>
                        <label for="onlyTable">Zunahme oder Abnahme nur der Anzahl der Tische</label>
                        <div style="margin-bottom: 10px;"></div>
                        <input type="radio" name="BothOrNot" id="both" value="both">
                        <label for="both">Ändere QR-Code ebenfalls</label>
                        <span>! Wenn Sie bereits QR-Codes auf der Tabelle platziert haben, müssen Sie diese neu
                            positionieren. !</span>
                        <% } %>
                    </div>
                    <div class="weiterButton">
                        <input type="submit" value="weiter">
                    </div>
                </form>
        </section>
    </main>

</body>

</html>