<%- include('partials/head.ejs') %>

<body class="bodyCompany">
    <%- include('partials/headerCompany.ejs', {user}) %>
    <main class="mainScrollDown">
        <section class="companyText">
            <h3 class="h3" style="text-align: center;">Deine QR Codes</h3>
        </section>
        <section class="qrField">
            <% urlList.forEach((elt, i) => { %>
            <figure>
                <img src="<%= elt %> " alt="">
                <figcaption>Tisch <%= i + 1 %> </figcaption>
            </figure>
            <% }) %>
        </section>
    </main>
</body>

</html>