<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <img id="icon" src="/Bilder/ICON.png" alt="">
    <h1 id="welcomeH">Vilen Dank für deine Registrierung!</h1>
    <p id="welcomeP">Du erhältst jetzt eine eMail mit allen Informationen! Alternativ kannst du dich auch direkt anmelden!</p>
    <a class="welcomeA" href="/company">Dashboard</a>
    <a id="aFragen" href="/company/faq">Fragen? <span id="faq">FAQ</span></a>
</body>
</html>