<%- include('partials/head.ejs') %>

<body>
    <form action="/company/input01" method="post">
        <input type="text" name="companyName" id="" placeholder="Firmenname" required>
        <input type="radio" name="typeOfIndustry" id="restaurant" value="restaurant" checked>
        <label for="restaurant">Restaurant</label>
        <input type="radio" name="typeOfIndustry" id="bar" value="bar">
        <label for="bar">Bar</label>
        <input type="radio" name="typeOfIndustry" id="friseur" value="friseur">
        <label for="friseur">Friseur</label>
        <input type="submit" value="weiter">
    </form>
</body>

</html>