<%- include('partials/head.ejs') %>

<body>
    <form action="/company/input04" enctype="multipart/form-data" method="post">
        <input type="file" name="uploadfile" id="">
        <input type="submit" value="weiter">
    </form>
</body>

</html>