<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Vielen Dank für deine papiersparende Anmeldung!
    <a href="">Über uns</a>
    <a href="">Speisekarte</a>
    <a href="/user/companyID/tableID">Abmelden</a>
</body>

</html>