<%- include('partials/head.ejs') %>

<body>
    <section id="hero">
        <img id="center-clock" src="/Bilder/clock.png" alt="">
        <h1 id="center-text">Info<span class="bold">Time</span></h1>
        <p id="center-p">Für Restaurants, Bars, Friseure .....</p>
        <div class="grow"></div>
        <a class="but" href="/auth/google">Registrieren<img class="goo" src="/Bilder/iconfinder_Google_1298745 1.png"
                alt=""></a>

        <a class="but1" href="/auth/google"></a>
        <a class="logIn" href="/auth/google">Log in<img class="goo1" src="/Bilder/iconfinder_Google_1298745 1.png"></a>

        <a class="fragen" href="/company/faq">Fragen? <strong>FAQ</strong></a>
    </section>
</body>


</html>