<%- include('partials/head.ejs') %>

<body>
    <a href=""></a>
    <form action="formCompany" method="post">
        <label for="">
            <h1>Sag uns etwas 체ber dein Gesch채ft</h1>
        </label>
        <input type="text" name="" id="" placeholder="Was f체r ein Gesch채ft hast du? Und wo ist es zuhause?">
        <input type="text" name="" id="" placeholder="Name...">
        <input type="radio" name="" id="">

    </form>

</body>

</html>