<%- include('partials/head.ejs') %>

<body>
    Vielen Dank für deine papiersparende Anmeldung!
    <a href="">Über uns</a>
    <a href="">Speisekarte</a>
    <a href="/user/companyID/tableID">Abmelden</a>
</body>

</html>