<%- include('partials/head.ejs') %>

<body>
    <h1>Wir brauchen ein Paar Informationen um dich an deinem Platz anmelden zu können!</h1>
    <form action="/user/userInfo/<%= companyID %>/<%= tableID %>" method="post">
        <input type="text" name="name" id="" placeholder="Name...">
        <input type="text" name="street" id="" placeholder="Straße...">
        <input type="text" name="postalcode" id="" placeholder="PLZ...">
        <input type="text" name="city" id="" placeholder="Stadt...">
        <input type="text" name="phone" id="" placeholder="Telefonnummer...">
        <label for="agb"><a href="#">DSGvO&AGBs</a></label>
        <input type="checkbox" name="agb" id="" required>
        <input type="submit" value="Weiter">
    </form>

</body>

</html>