<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body id="userThanks">
    <img id="icon" src="/img/ICON.png" alt="">
    <h1 id="welcomeH">Vielen Dank für deinen Besuch!</h1>
    <a id="welcomeP" href="/">Möchten Sie sich als Eigentümer registrieren lassen?</a>
    <a id="aFragen" href="/user/faq">Fragen? <span id="faq">FAQ</span></a>
</body>
</html>