<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Vielen Dank für deine papiersparende Anmeldung!
    <a href="/user/company/<%= companyID %> ">Über uns</a>
    <% pdf.forEach(elt => { %>
        <a href="<%= elt.url %> "><%= elt.title %> </a>
    <% }) %>
    <a href="/user/logout/<%= customerID %> ">Abmelden</a>
</body>

</html>