<%- include('partials/head.ejs') %>

<body>
    User Anmelden
    Willkommen bei Demonis Pizza
    <form action="/user/userInfo/<%= companyID %>/<%= tableID %>" method="get">
        <input type="submit" value="Anmelden">
    </form>
    <a href="/user/faq">Fragen? FAQ</a>
</body>

</html>