<%- include('partials/head.ejs') %>

<body>
    FAQ Yourself
    <section>
        <a href="">
            <h2>Hier steht eine gute Frage über ein oder zwei</h2>
        </a>
        <a href="">
            <h2>Hier steht eine gute Frage über ein oder zwei</h2>
        </a>
        <a href="">
            <h2>Hier steht eine gute Frage über ein oder zwei</h2>
        </a>
    </section>
</body>

</html>