@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
#center-clock{
    width: 22%;
    display: block;
    margin: 3vh 39.5% -4vh;
}
#center-text{
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #314259;
}
#center-p{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    color: #B1BDC6;
    margin-top: 2vh;
}
.bold{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}
#hero{
    background: url(./Bilder/Frame.png) bottom/100% 60% no-repeat;
    height: calc(100vh - 40px) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.grow{
    flex-grow: 1;
}
.but{
    width: 290px;
    height: 8vh;
    background: #FFFFFF;
    box-shadow: 10px 12px 19px rgba(255, 96, 96, 0.2);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;   
    color: #4A4A4A;
}
.but1{
    width: 290px;
    height: 8vh;
    background: #000000;
    box-shadow: 10px 12px 23px rgba(255, 96, 96, 0.3);
    border-radius: 30px;
    margin-top: 2vh;
    opacity: 0.1;
}
.logIn{
    position: relative;
    justify-content: space-between;
    display: flex;
    top: -40px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif; 
    font-weight: bold;
    color: white;
}
.fragen{
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    color: white;
    padding: 3vh 0 0;
    font-size: 1.1em;
    font-weight: 300;
}
.goo{
    padding-left: 3%;
}
.goo1{
    padding-left: 13%;
}
@media only screen and (max-width: 375px){
    #center-clock{
        width: 62%;
        display: block;
        margin: 8vh auto 0;
    }
    #center-text{
        margin-top: -5vh;
    }
    #center-p{
        margin-top: 1vh;
    }
    #hero{
        background-image: url(./Bilder/BG.png);
    }
    .but{
        width: 70%;
        height: 8vh;
    }
    .logIn{
        top: -40px;
    }
    .but1{
        width: 70%;
        height: 8vh;
        margin-top: 2vh;
    }
    .fragen{
        display: block;
        padding-top: 5vh;
        color: white;
    }
}
@media only screen and (max-width: 320px){
    #center-clock{
        display: block;
        margin: 1.5vh auto 1vh;
    }
    .logIn{
        top: -32px;
    }
    .fragen{
        display: block;
        padding-top: 2vh;
        font-size: 1em;
    }
}
#icon{
    display: block;
    margin: 15vh auto 5vh;
}
#welcomeH{
    font-family: 'Lato', sans-serif;
    color: #414B6B;
    text-align: center;
}
#welcomeP{
    font-family: 'Lato', sans-serif;
    color: #90A4B7;
    text-align: center; 
    padding-top: 7vh;
}
.welcomeA{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh auto;
    width: 18%;
    height: 8vh;
    background: linear-gradient(225deg, #FE979C 0%, #FFA993 100%);
    box-shadow: 0px 4px 18px rgba(254, 151, 156, 0.182292);
    border-radius: 100px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 1.3em;
}
#faq{
    color:#FE979C ;
}
#aFragen{
    display: block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #B1BFCC;
    margin-top: 25vh;
}
@media only screen and (max-width: 375px){
    #welcomeH{
        font-size: 1.4em;
        width: 60%;
        margin: 0 auto;
    }
    #welcomeP{
        width: 80%;
        text-align: left;
        color: #90A4B7;
        margin: 0 auto;
    }
    .welcomeA{
        margin: 9vh auto;
        width: 58%;
    }
    #aFragen{
        margin-top: 20vh;
    }
}
@media only screen and (max-width: 320px){
    #welcomeH{
        font-size: 1.4em;
        width: 70%;
        margin: 0 auto;
    }
    #aFragen{
        margin-top: 12vh;
    }
}